source https://nuget.org/api/v2

// Build
nuget NUnit.Runners
nuget Yaaf.AdvancedBuilding

// Projects
nuget FSharp.Core
nuget Yaaf.Sasl
nuget FsUnit
nuget NUnit == 2.6.3
nuget Yaaf.FSharp.Helper
nuget Mono.Security
nuget Novell.Directory.Ldap

